<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
        <div class="row justify-content-center">
            <!-- Contato -->
            <div class="col-md-4 mb-3">
                <h5>Contato</h5>
                <p>Email: {{email}}</p>
                <p>Telefone: (11) 96641-8541</p>
                <p>Localização: São Paulo, Brasil</p>
            </div>

            <!-- Redes Sociais -->
            <div class="col-md-4 mb-5">
                <h5>Redes Sociais</h5>
                <a href="https://github.com/william3002" target="_blank" class="text-white me-2">
                    <i class="bi bi-github"></i> GitHub
                </a>
                <a href="https://www.linkedin.com/in/william-araujo-3a6680256/" target="_blank" class="text-white">
                    <i class="bi bi-linkedin"></i> LinkedIn
                </a>
            </div>
            <div class="col-md-4 mb-3">
                <h6 class="fst-italic">Voltar ao topo da pagina</h6>
                <button (click)="scrollToTop()" class="btn btn-light my-3 px-0 rounded-circle ">
                    <img src="setas-para-cima.png" alt="">
                </button>
            </div>
        </div>

        <!-- Botão de Voltar ao Topo -->

        <hr class="my-3 border-light">

        <!-- Tecnologias Usadas -->
        <p>
            Desenvolvido com
            <i class="bi bi-bootstrap text-primary"></i> Bootstrap,
            <i class="bi bi-code-slash text-warning"></i> TypeScript e
            <i class="bi bi-angular text-danger"></i> Angular.
        </p>

        <p class="small text-secondary">&copy; 2025 William Araujo. Todos os direitos reservados.</p>
    </div>
</footer>