<footer id="container" class="bg-gray-800 text-white py-4">

    <div class="md:grid md:grid-cols-2 md:justify-center text-center lg:grid-cols-3 xl:my-5 xl:h-[13rem]">
        <!-- Contato -->
        <div class="col-md-4 mb-4 md:col-span-2 lg:col-span-1">
            <h5 class="text-2xl mb-3">Contato</h5>
            <p class="mb-3">Email: {{email}}</p>
            <p class="mb-3">Telefone: (11) 96641-****</p>
            <p class="mb-3">Localização: São Paulo, Brasil</p>
        </div>

        <!-- Redes Sociais -->
        <div class="col-md-4 mb-5">
            <h5 class="text-2xl xl:mb-3">Redes Sociais</h5>
            <div class="flex justify-center gap-5">
                <a href="https://github.com/william3002" target="_blank" class="underline text-blue-500">
                    <img class="w-10 hover:scale-110 active:scale-95 transition-transform" src="github.png" alt="Ícone do GitHub" title="Ícone feito por riajulislam de www.flaticon.com">
                </a>
                <span class="">|</span>
                <a href="https://www.linkedin.com/in/william-araujo-3a6680256/" target="_blank" class="underline text-blue-500">
                    <img class="w-10 hover:scale-110 active:scale-95 transition-transform" src="linkedin.png" alt="Ícone do LinkedIn" title="Ícone feito por riajulislam de www.flaticon.com">
                </a>
            </div>
        </div>

        <!-- Voltar ao topo -->
        <div class="col-md-4 mb-3 lg:flex lg:flex-col lg:items-center">
            <h6 class="italic">Voltar ao topo da página</h6>
            <button (click)="scrollToTop()" class="bg-white my-3 p-2 rounded-full hover:scale-110 cursor-pointer active:scale-95 transition-transform">
                <img class="w-6" src="setas-para-cima.png" alt="">
            </button>
        </div>
    </div>

    <div class="text-center">
        <hr class="my-3 w-full mx-auto text-zinc-500">

        <p class="px-3 mb-3">
            Desenvolvido com Tailwind, TypeScript e Angular.
        </p>

        <p class="text-sm px-3 text-zinc-500 mt-1">&copy; 2025 William Araujo. Todos os direitos reservados.</p>

        <p class="text-xs text-zinc-500 px-4 italic flex flex-col xl:flex-row xl:justify-center">
            <a href="https://www.flaticon.com/free-icons/html" title="icons">Html, bootstrap, javascript e typescript icons created by Freepik - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/css" title="css icons">Css icons created by Pixel perfect - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/json" title="json icons">Json icons created by LAB Design Studio - Flaticon</a>
            <a href="https://www.flaticon.com/free-icons/angular" title="angular icons">Angular icons created by pocike - Flaticon</a>
        </p>
    </div>

</footer>
