<footer class="footer bg-dark text-white py-4">
    <div class="container text-center">
        <div class="row gap-3 gap-lg-0">
            <!-- Contato -->
            <div class="col-md-4 mb-3">
                <h5>Contato</h5>
                <p>Email: {{email}}</p>
                <p>Telefone: (11) 96641-8541</p>
                <p>Localização: São Paulo, Brasil</p>
            </div>

            <!-- Redes Sociais -->
            <div class="col-md-4 mb-3">
                <h5>Redes Sociais</h5>
                <a href="https://github.com/william3002" target="_blank">GitHub</a> |
                <a href="https://www.linkedin.com/in/william-araujo-3a6680256/" target="_blank">LinkedIn</a>
            </div>

            <!-- Horário de Funcionamento -->
            <div class="col-md-4 mb-3">
                <h5>Atendimento</h5>
                <p>Segunda a Sexta: 9h às 18h</p>
                <p>Sábado: 10h às 14h</p>
                <p>Domingo: Fechado</p>
            </div>

        </div>
        <button (click)="scrollToTop()" class="btn bg-white mb-3">Voltar ao topo</button>

        <hr class="my-3 border-light">

        <p>Desenvolvido com Angular, TypeScript e Bootstrap.</p>
        <p class="small">&copy; 2025 william araujo. Todos os direitos reservados.</p>
    </div>
</footer>