<header class="flex justify-between p-5 pb-0 text-xl xl:px-8">
    <div class="md:flex md:mt-2">
        <h2 class="font-semibold">William araujo /</h2>
        <span class=" text-blue-600 md:ms-2">Desenvolvedor Frontend</span>
    </div>
    <button (click)="abrirMenu()" class="p-3 rounded-full shadow cursor-pointer bg-blue-600 text-white font-semibold md:hidden">
        <img class="w-10 h-10" src="icons/menu.png" alt="">
    </button>
    <nav class="hidden md:flex text-xl gap-5 mt-2 px-3 xl:gap-10 underline-offset-4">
        <a class="hover:scale-105" routerLinkActive="text-blue-600 underline " [routerLinkActiveOptions]="{ exact: true}" routerLink="home">Home</a>
        <a class="hover:scale-105" routerLinkActive="text-blue-600 underline " [routerLinkActiveOptions]="{ exact: true}" routerLink="projetos">Projetos</a>
        <a class="hover:scale-105" routerLinkActive="text-blue-600 underline " [routerLinkActiveOptions]="{ exact: true}" routerLink="contato">Contato</a>
    </nav>
</header>

<div 
  [ngClass]="{
    'translate-x-0 ': estaAberto,
    'translate-x-full pointer-events-none': !estaAberto
  }"
  class="fixed h-screen w-60 top-0 right-0 z-20 bg-white p-2 md:hidden transition-all duration-700 ease-in-out transform"
>
  <div class="flex justify-end p-6">
    <img (click)="abrirMenu()" class="w-10 text-end" src="icons/btnX.png" alt="">
  </div>
  <nav class="flex flex-col items-center text-xl space-y-5 mt-10">
    <a routerLinkActive="text-blue-600 underline underline-offset-4" [routerLinkActiveOptions]="{ exact: true}" routerLink="home">Home</a>
    <a routerLinkActive="text-blue-600 underline underline-offset-4" [routerLinkActiveOptions]="{ exact: true}" routerLink="projetos">Projetos</a>
    <a routerLinkActive="text-blue-600 underline underline-offset-4" [routerLinkActiveOptions]="{ exact: true}" routerLink="contato">Contato</a>
  </nav>
</div>
