<div class="flex flex-col justify-center items-center bg-gray-900 p-6 text-white xl:w-[42rem]">
    <h2 class="text-2xl mb-4 font-bold xl:text-3xl xl:my-5">Minhas Qualificações</h2>
    <ul class="w-full max-w-2xl border border-gray-600 rounded md:flex md:flex-col md:justify-center md:items-center text-center ">
      <li class="border-b border-gray-600 p-4 hover:bg-gray-700 transition md:w-[36rem] xl:h-12">
        ✅ Experiência com Angular, Bootstrap, Tailwind CSS e Node.js
      </li>
      <li class="border-b border-gray-600 p-4 hover:bg-gray-700 transition md:w-[36rem] xl:h-12">
        🔗 Conhecimento em APIs RESTful e integração de sistemas
      </li>
      <li class="border-b border-gray-600 p-4 hover:bg-gray-700 transition md:w-[36rem] xl:h-12">
        📱 Habilidade em design responsivo e acessibilidade
      </li>
      <li class="border-b border-gray-600 p-4 hover:bg-gray-700 transition md:w-[36rem] xl:h-12">
        🧠 Conhecimento em Métodos Ágeis e Scrum
      </li>
      <li class="border-b border-gray-600 p-4 hover:bg-gray-700 transition md:w-[36rem] xl:h-12">
        🤝 Excelente comunicação e trabalho em equipe
      </li>
      <li class="border-b border-gray-600 p-4 hover:bg-gray-700 transition md:w-[36rem] xl:h-12">
        ⏱️ Gestão eficaz do tempo e cumprimento de prazos
      </li>
      <li class="border-b border-gray-600 p-4 hover:bg-gray-700 transition md:w-[36rem] xl:h-12">
        📊 Capacidade analítica e atenção aos detalhes
      </li>
    </ul>
  </div>
  