<div>
    <main
        class="relative flex justify-center h-[650px] md:h-[485px] md:pt-20 md:flex-row md:gap-10 lg:gap-20 xl:mt-28 xl:mb-7 xl:pt-0">
        <!-- Card de redes sociais -->
        <section
            class="h-72 w-64 absolute top-10 right-7 z-10 shadow-md bg-blue-600 rounded-3xl sm:right-36 md:static xl:h-96 xl:w-80">
            <div class="flex flex-col justify-center items-center gap-y-3 h-56 w-full xl:h-80 xl:gap-y-6">
                <img class="w-40 h-44 rounded-full xl:w-56 xl:h-56" src="images/perfil.png" alt="">
                <h2 class=" text-2xl font-semibold xl:text-3xl">William Araujo</h2>
            </div>
            <!-- footer do card -->
            <div class="flex justify-between mt-4 px-4 bg-white p-2 rounded-b-2xl shadow-lg">
                <span class="text-xl font-semibold xl:mt-1">Siga-me</span>
                <picture class="flex gap-3">
                    <a href="https://github.com/william3002" target="_blank"><img class="w-8 h-8 hover:scale-90 xl:w-10 xl:h-10"
                            src="icons/github.png" alt="Ícone do github"></a>
                    <a href="https://www.linkedin.com/in/williamaraujo-dev/" target="_blank"><img class="w-8 h-8 hover:scale-90 xl:w-10 xl:h-10" src="icons/linkedin.png" alt="Ícone do LinkedIn"></a>
                </picture>
            </div>
        </section>
        <!-- Card sobre mim -->
        <section
            class="absolute border-2  bg-gray-100 rounded-lg top-72 mb-10 p-4 w-80 shadow-current h-[330px] md:w-96 md:static md:border-0 md:bg-white md:pt-0 lg:w-[500px]">
            <h1 class="text-xl font-semibold mt-10 gap-5 mb-5 text-blue-600 md:text-3xl md:mt-3 lg:mt-0 xl:mt-8">{{mostrarHabilidades ?
                'Habilidades':'Sobre mim'}}</h1>
            <div class="hidden md:flex md:gap-5 md:mb-4 ">
                <button
                    class="border font-semibold bg-slate-50 active:scale-90 px-3 py-1 rounded-full mb-2 shadow hover:scale-95 hover:text-blue-500"
                    (click)="mostrarSobre()">Sobre mim</button>
                <button
                    class="border font-semibold bg-slate-50 active:scale-90 px-3 py-1 rounded-full mb-2 shadow hover:scale-95 hover:text-blue-500"
                    (click)="mostrarHabs()">Habilidades</button>
            </div>
            <p *ngIf="!mostrarHabilidades"
                class="overflow-auto max-h-40 mb-3 leading-relaxed lg:max-h-64 lg:max-w-2xl lg:overflow-hidden xl:text-lg">
                Sou William Araújo, desenvolvedor frontend formado em Análise e Desenvolvimento de Sistemas. Tenho foco em Angular e Typescript, com experiência na criação de interfaces responsivas, consumo de APIs, componentização e manipulação de dados com métodos de array. Busco desenvolver aplicações performáticas, organizadas e com bom uso de boas práticas.
            </p>
            <div *ngIf="mostrarHabilidades"
                class="grid grid-cols-3 gap-5 justify-items-center md:justify-items-start mb-2">
                @for (item of icons; track $index) {
                <img class="w-10" loading="lazy" [src]="item.logo" [alt]="item.nome">
                }
            </div>
            <button
                class="border bg-slate-50 ms-40 active:scale-90 px-3 py-1 rounded-full mb-2 md:hidden shadow "
                (click)="mostrarConteudo()">{{mostrarHabilidades ? 'Sobre mim' : 'Habilidades'}}</button>
        </section>

    </main>
    <app-footer></app-footer>
</div>