#container{
    background-color: #1E477F;
    height: 720px;
}

#perfil{
    width: 400px;
}

.btns-social {
    transition: transform 0.3s ease-in-out;
}

.btns-social:hover {
    transform: scale(1.2);
    transition: transform 0.5s ease-in-out;
}

.btns-social:not(:hover) {
    transition: transform 1s ease-out;
}

.img-logo{
    width: 15px;
}

#sobre{
    height: 340px;
}

.icones{
    width: 60px;
}

#box {
    background-color: white;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, .5fr); /* 2 colunas */
    justify-items: center;
    gap: 10px;
}

#habilidades{
    width: 320px;
    background-color: #1E477F;
}

#qualificacao{
    width: 320px;
    background-color: #1E477F;
}

#qualificacao > ul{
    width: 300px;
}

#qualificacao > ul > li{
    height: 60px;
}

div > div > ul > li{
    width: 70px;
}


@media (width >= 800px) {
    #container{
        height: 652px;
        gap: 200px;
    }
    
    #container > div > p{
        width: 400px;
    }
    
    #sobre {
        width: 820px;
        height: 400px;
    }
    
    #box{
        width: 400px;
        grid-template-columns: repeat(3, .5fr); /* 2 colunas */
    }
    
    #habilidades{
        width: 550px;
        height: 360px;
    }
    
    #habilidades > div > ul{
        width: 400px;
    }
    
    #qualificacao{
        width: 550px;
        height: 360px;
    }

    #qualificacao > ul{
        width: 390px;
    }
    
    #qualificacao > ul > li{
        height: 47px;
    }
    
    #projetos{        
        gap: 100px;
    }

    #box-pai{
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    
    #box2{
        height: 300px;
    }
}

@media (width >= 1000px) {
    #container{
        height: 652px;
        gap: 200px;
    }
    
    #box-pai{
        width: 1167px;
        height: 500px;
        gap: 30px;
    }

    #qualificacao > ul{
        width: 445px;
    }
    
    #qualificacao > ul > li{
        height: 47px;
    }
    
    #projetos{
        gap: 28px;
    }

    #container > div > img{
        margin-right: 72px;
    }
}

@media (width >= 1200px) {
    #container{
        height: 652px;
        gap: 200px;
    }
    
    #box-pai{
        width: 1550px;
        height: 460px;
    }

    #qualificacao > ul{
        width: 445px;
    }
    
    #qualificacao > ul > li{
        height: 47px;
    }
    
    #projetos{
        gap: 70px;
    }
    
    #container > div > img{
        margin-right: 0px;
    }
}

@media (width >= 1400px) {
    #qualificacao > ul{
        width: 445px;
    }
    
    #qualificacao > ul > li{
        height: 47px;
    }

    #projetos{
        gap: 125px;
    }
}