<!-- Navbar -->
<nav id="container" class="bg-gray-800 text-white border-b-2  border-gray-500">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex justify-between items-center h-16">
            <!-- Logo ou Título -->
            <div>
                <a id="logo" href="#" class="text-2xl xl:text-3xl font-bold active:text-gray-300">Developer</a>
            </div>

            <!-- Botão hambúrguer (aparece só no mobile) -->
            <div class="sm:hidden">
                <button (click)="menuAberto = !menuAberto" type="button"
                    class="text-gray-300 hover:text-white focus:outline-none focus:text-white">

                    <svg *ngIf="!menuAberto" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                    </svg>

                    <svg *ngIf="menuAberto" class="w-6 h-6" fill="none" stroke="currentColor" stroke-width="2"
                        viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>
            </div>

            <!-- Menu (desktop) -->
            <div class="hidden sm:flex lg:space-x-2">
                @for (item of nav; track $index) {
                <a href="#{{item}}" class="block hover:bg-gray-700 px-1.5 py-2 rounded-md md:px-3">{{item}}</a>
                }
            </div>
        </div>
    </div>

    <!-- Menu (mobile) -->
    <div *ngIf="menuAberto" class="sm:hidden px-2 pt-2 pb-3 space-y-1">
        @for (item of nav; track $index) {
        <a href="#{{item}}" class="block hover:bg-gray-700 px-3 py-2 rounded-md">{{item}}</a>
        }
    </div>
</nav>