<div class="flex flex-col justify-center items-center p-3.5 bg-gray-900 text-white md:py-10">
    <h3 class="text-2xl mb-4 font-bold xl:text-3xl">Minhas Habilidades</h3>
    <ul class="italic md:grid md:grid-cols-2">
        @for (item of habilidades; track $index) {
        <li class="flex justify-between items-center border border-gray-700 rounded-md p-2 m-2.5 w-80 bg-gray-800 text-lg xl:h-16">
            {{ item.nome }}
            <img [src]="item.logo" class="w-8" alt="{{ item.nome }}">
        </li>
        }
    </ul>
</div>